@page
@model TechChallenge.Interface.Pages.Contatos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar contato</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AtualizarContatoRequest.Id" />
            <div class="form-group">
                <label asp-for="AtualizarContatoRequest.Nome" class="control-label">Nome</label>
                <input asp-for="AtualizarContatoRequest.Nome" class="form-control" />
                <span asp-validation-for="AtualizarContatoRequest.Nome" class="text-danger" asp-items="ViewBag.Nome"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtualizarContatoRequest.NrDDD" class="control-label">DDD</label>
                <select asp-for="AtualizarContatoRequest.NrDDD" class="form-control" asp-items="ViewBag.NrDDD"></select>
            </div>
            <div class="form-group">
                <label asp-for="AtualizarContatoRequest.NrTelefone" class="control-label">Celular</label>
                <input asp-for="AtualizarContatoRequest.NrTelefone" class="form-control" asp-items="ViewBag.NrTelefone" />
                <span asp-validation-for="AtualizarContatoRequest.NrTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtualizarContatoRequest.Email" class="control-label">E-mail</label>
                <input asp-for="AtualizarContatoRequest.Email" class="form-control" asp-items="ViewBag.Email" />
                <span asp-validation-for="AtualizarContatoRequest.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para lista de contatos</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
